$aux-white: #ffffff;
$aux-black: #000000;

$gray-01: #0D1301;
$gray-02: #414C2F;
$gray-03: #929889;
$gray-04: #BCBEB7;
$gray-05: #DADBD9;
$gray-06: #f2f2f2;

$green-light: #B5D67D;
$green: #83BB26;
$green-dark: #66941A;
$green-darker: #3C5610;

$blue-light: #99D9F4;
$blue: #009FE3;
$blue-dark: #0483BA;
$blue-darker: #003C56;