html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    padding: 20px;
    background-color: $gray-06;
    color: $gray-01;
    font-family: $body-family, sans-serif;
    line-height: 1.3;
}