h1, h2, h3, p {
    margin-block-start: 0px;
    margin-block-end: 16px;
}

h1, .title-large {
    font-style: normal;
    font-weight: 700;
    font-size: em(48);
    line-height: 1.2em;
}

h2, .title-medium {
    font-size: em(40);
    line-height: 1.2em;
}

h3, .title-small, .subtitle {
    font-size: em(24);
    line-height: 1.5em;
    &.realce {
        font-weight: bold;
    }
}

p, .paragraph {
    font-size: em(18);
    line-height: 1.5em;
    &.realce {
        font-weight: bold;
    }
}

span.above-title {
    font-size: em(14);
    line-height: em(14); 
    font-weight: 700;
    text-transform: uppercase;
}