@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

// Typograph
$body-family: "Open Sans";

// Container width
$container-max-width: 1440px;

// Media Queries
// How to use:
// @media #{$mq-1000-up}{ }
$mq-mobile-down: "only screen and (max-width: 600px)";

$mq-tablet-down: "only screen and (max-width: 768px)";

$mq-desktop-down: "only screen and (max-width: 1439px)";
$mq-desktop-up: "only screen and (min-width: 1440px)";