@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

// Typograph
$body-family: "Open Sans";


// Media Queries
// How to use:
// @media #{$mq-1000-up}{ }
$mq-360-down: "only screen and (max-width: 360px)";

$mq-768-down: "only screen and (max-width: 768px)";

$mq-1440-down: "only screen and (max-width: 1439px)";
$mq-1440-up: "only screen and (min-width: 1440px)";