.newsletter {
  padding: 64px 0;
  border-bottom: 1px solid rgba($blue-light, 0.2);
  display: flex;
  &-text{
    width: 85%;
    color: $gray-05;
    height: 100%;
  }
  &-button{
    width: 15%;
    height: 100%;
  }
}